.blog-content {
    color: rgb(79, 79, 79);
    font-weight: 400;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.blog-readmore {
    color: #5fcb71;
}

.has-large-font-size {
    font-size: 2rem;
}

.blog-frame {
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-mask-image: linear-gradient(180deg, #000 70%, transparent);
    /* max-height: 200px;
    overflow: hidden; */
}
