.blog-content {
    color: rgb(79, 79, 79);
    font-weight: 400;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.blog-readmore {
    color: #5fcb71;
}

.has-large-font-size{
    font-size: 40px;
}